

<h1>
    Package info for <%= package.name %>
</h1>

<h3>
    Official Authoritative Quality score: <%= score %> / 100
</h3>

<table class="table">
    <thead>
        <tr>    
            <td>
                Package Name
            </td>
            <td>
                Dependents
            </td>
            <td>
                GH Stars
            </td>
            <td>
                GH Watchers
            </td>
            <td>
                Maintainers
            </td>
            <td>
                Contributors
            </td>
            <td>
                Abandoned
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= package.name %> 
            </td>
            <td>
                <%= package.dependents %> 
            </td>
            <td>
                <%= package.GitHubStars %> 
            </td>
            <td>
                <%= package.GitHubWatchers %> 
            </td>
            <td>
                <%= package.maintainers %> 
            </td>
            <td>
                <%= package.contributors %> 
            </td>
            <td>
                <%= package.abandoned %> 
            </td>
        </tr>
    </tbody>
</table>

Charmed? <a href=" <%= package.repository %> ">Repository link</a>